footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.wrapper section .item {
    position: relative;
    padding: 0 2px;
    transition: 250ms all;
}

.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}

.wrapper section .item .heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}

.wrapper section .item .duration {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
}

.wrapper section .arrow__btn {
    position: absolute;
    color: black;
    text-decoration: none;
    font-size: 6em;
    width: 35px;
    text-align: center;
    z-index: 1;
}

.wrapper section .left-arrow {
    top: 0;
    bottom: 0;
    left: 0;
}

.wrapper section .right-arrow {
    top: 0;
    bottom: 0;
    right: 0;
}

/*#inlogdiv {*/
/*    border-radius: 10px;*/
/*    box-shadow: 0px 0px 81px -4px rgba(0,0,0,0.44);*/
/*    padding: 15px;*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    width: 400px;*/
/*}*/

#chartdiv {
    border-radius: 10px;
    box-shadow: 0px 0px 50px -4px rgba(0, 0, 0, 0.44);
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#inlogbtn {*/
/*    width: 100%;*/
/*}*/

.hide-navigation-item {
    display: none !important;
}

/* ChartYear*/
#chartWrapper{
    display: flex;
}

#selectboxDiv{
    margin-left: 20px;
    margin-top: 20px;
    float:left;
    width: 250px
}

#selectbox{
    height: 200px;
    width: 250px;
}

.scrollbar {
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 92%;
    overflow: auto;
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 46px;
}

p {
    text-align: center;
}

#chartYear {
    width: 100%;
}

#chartInYears{
    width: 100%;
}

.districtsAndLocations {
    width: 305px;
    height: 90%;
}

.weekDropdown-menu {
    margin: 5px;
    padding: 5px;
    width: 150px;
    max-height:200px;
    overflow: auto;
    text-align: justify;
}

.chart-h-w{
    height: 400px;
    width: 600px ;
}
