<div class="d-flex flex-column m-2">
    <form id="searchForm" class="form-inline row mx-auto gap-2 w-8/12">
        <input id="inputSearch" class="form-control shadow-md rounded-md col" type="search"
               placeholder="Voer hier uw zoekterm(en) in..."
               aria-label="zoek">
        <button id="searchButton"
                class="bg-black text-white shadow-md rounded-md h-10 col-sm-3 col-md-3 col-lg-3 col-xl-2"
                type="button">
            zoek
        </button>
    </form>
</div>
<div class="mx-auto w-8/12">
    <table class="table table-hover bg-red-600 text-white rounded-lg ">
        <thead>
        <tr class="d-none" id="tableBar">
            <th scope="col">Kaft</th>
            <th scope="col">Titel</th>
            <th scope="col">Auteur</th>
            <th scope="col">Genre</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="books"></tbody>
    </table>
    <img class="shadow-md rounded-md" id="catalogImage"
         src="https://www.oba.nl/dam/Collectie/1120_banner_collectie.jpg.rendition.1280.2048.jpeg">
    <h5 class="text-center m-2" id="searchText">In de uitgebreide collectie van de OBA is voor iedereen wel iets te
        vinden,
        <br>van boek tot dvd, in de vestigingen én online!</h5>
    <div class="error mb-3 text-danger"></div>

    <!-- Pop-up -->
    <div class="modal fade" id="bookInfo" tabindex="-1" role="dialog" aria-labelledby="bookInformation"
         aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="row">
                            <img class="img-fluid col col-sm-1 col-md-3 col-lg-2 col-xl-2 " src="" alt="coverimages">
                          <div class="col col-sm-11 col-md-9 col-lg-10 col-xl-8">
                            <h5 class="title"><span></span></h5>
                            <p class="summaries"><span></span></p>
                          </div>
                        </div>
                        <div class="information mt-3">
                            <h5>Details</h5>
                            <p class="authors">Auteur: <span></span></p>
                            <p class="description">Kenmerken: <span></span></p>
                            <p class="genre">Genre: <span></span></p>
                            <p class="languages">Taal/Talen: <span></span></p>
                            <p class="isbn">ISBN: <span></span></p>
                            <p class="publisher">Uitgever: <span></span></p>
                            <p class="siso">SISO: <span></span></p>
                        </div>
                        <div class="test">
                            <button id="addBook" class="bg-green-500 hover:bg-green-400 m-2 text-white font-semibold
                        py-2 px-4 border border-gray-400 rounded shadow addBook">
                            Leen boek uit
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
