<div class="mx-auto w-8/12">
    <div class="d-flex flex-column align-items-end">
        <form id="searchForm" class="form-inline">
            <input id="inputSearch" class="form-control m-2 shadow-md rounded-md" type="search"
                   placeholder="zoek op titel..."
                   aria-label="zoek">
            <button id="searchButton" class="bg-black text-white shadow-md rounded-md w-32 h-10"
                    type="button">
                zoek
            </button>
            <button id="previous" class="bg-black text-white shadow-md rounded-md w-32 h-10" type="button">Previous
            </button>
            <button id="next" class="bg-black text-white shadow-md rounded-md w-32 h-10" type="button">Next
            </button>
        </form>
    </div>
    <table class="table table-hover bg-red-600 text-white rounded-lg ">
        <thead>
        <tr>
            <th scope="col">Kaft</th>
            <th scope="col">Titel</th>
            <th scope="col">Auteur</th>
            <th scope="col">Genre</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="books"></tbody>
<!--        <td>-->
<!--            <button id="first" class="bg-black text-white shadow-md rounded-md w-32 h-10"-->
<!--                    onclick="app.countriesController.getFirst()">First-->
<!--            </button>-->
<!--            <button id="previous" class="bg-black text-white shadow-md rounded-md w-32 h-10"-->
<!--                    onclick="app.countriesController.getPrevious()">-->
<!--                Previous-->
<!--            </button>-->
<!--            <button id="next" class="bg-black text-white shadow-md rounded-md w-32 h-10"-->
<!--                    onclick="app.countriesController.getNext()">Next-->
<!--            </button>-->
<!--            <button id="last" class="bg-black text-white shadow-md rounded-md w-32 h-10"-->
<!--                    onclick="app.countriesController.getLast()">Last-->
<!--            </button>-->
<!--            <button id="showAll" class="bg-black text-white shadow-md rounded-md w-32 h-10"-->
<!--                    onclick="app.countriesController.getForAnchor()">Show-->
<!--                all-->
<!--            </button>-->
<!--        </td>-->
    </table>

    <!-- Modal matchModal-->
    <div class="modal fade" id="bookInfo" tabindex="-1" role="dialog" aria-labelledby="bookInformation"
         aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="row">
                            <div class="col-xl-4 col-md-4 col-sm">
                                <img src="" alt="coverimages" class="img-thumbnail">
                                <div class="information col-xl-12 mt-5">
                                    <p class="authors">Auteur: <span></span></p>
                                    <p class="description">Omschrijving: <span></span></p>
                                    <p class="genre">Genre: <span></span></p>
                                    <p class="languages">Taal/Talen: <span></span></p>
                                    <p class="isbn">ISBN: <span></span></p>
                                    <p class="publisher">Uitgever: <span></span></p>
                                    <p class="year">Jaar van uitgave: <span></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>
</div>
