<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Load our stylesheets -->
    <link href="../assets/css/default.css" rel="stylesheet" />
    <link href="../assets/css/tailwind.css" rel="stylesheet">
    <link href="../assets/vendors/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Load jQuery 3.4.1 -->
    <script src="../assets/vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="../assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Start of our application! -->
    <script src="../api/config.js"></script>
    <script src="../assets/js/app.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
</head>
<body>
<div id="chartdiv" class="container">
    <canvas id="myChart"></canvas>
</div>
</body>
</html>