<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Load jQuery 3.4.1 -->
    <script src="../assets/vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="../assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Load our stylesheets -->
    <link href="../assets/css/default.css" rel="stylesheet" />
    <link href="../assets/css/tailwind.css" rel="stylesheet">
    <link href="../assets/vendors/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Start of our application! -->
    <script src="../api/config.js"></script>
    <script src="../assets/js/app.js"></script>

</head>
<body>
<div class="space-y-5">
    <div class="flex justify-center">
        <div class="bg-white text-gray-500 rounded-xl w-10/12 h-80">
            <div>
                <img src="assets/img/book_icon.png" class="object-scale-down mt-20 h-40 w-full object-right pr-24"
                     alt="book">
                <div class="flex justify-end pr-28">
                    <button class="bg-red-600 text-white shadow-md rounded-full w-32 h-8">
                        Lees nu!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="bg-yellow-200 text-gray-500 rounded-xl w-10/12 h-48">
            <h5 class="pl-3 pt-3 ">Uitgelicht: Auteur</h5>
            <div class="grid grid-cols-12 justify-items-center">
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
            </div>


        </div>
    </div>
    <div class="flex justify-center space-x-5">
        <div class="bg-gray-100 text-gray-500 shadow-md	rounded-xl w-5/12 h-48">
            <h5 class="pl-3 pt-3 ">Waar je bent gebleven</h5>
            <div class="grid grid-cols-6 justify-items-center">
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
                <div>
                    <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                         alt="book">
                </div>
            </div>
        </div>
        <div class="bg-gray-100 text-gray-500 shadow-md	rounded-xl w-5/12 h-48 ">
            <h5 class="pl-3 pt-3 ">Wat anderen leuk vonden</h5>
            <div class="wrapper align-self-center">
                <section id="section1">
                    <a href="#section3" class="arrow__btn left-arrow">‹</a>
                    <div class="item">
                        <a href="#">
                            <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                                 alt="book">
                        </a>
                    </div>
                    <div class="item">

                        <a href="#">
                            <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                                 alt="book">
                        </a>
                    </div>

                    <div class="item">

                        <a href="#">
                            <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                                 alt="book">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                                 alt="book">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                                 alt="book">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                                 alt="book">
                        </a>
                    </div>
                    <a href="#section2" class="arrow__btn right-arrow">›</a>
                </section>

                <section id="section2">
                    <a href="#section1" class="arrow__btn left-arrow">‹</a>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <a href="#section3" class="arrow__btn right-arrow">›</a>
                </section>

                <section id="section3">
                    <a href="#section2" class="arrow__btn left-arrow">‹</a>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>
                    <div class="item">
                        <img src="assets/img/book.jpg" class="object-scale-down shadow-md rounded-md w-24"
                             alt="book">
                    </div>


                    <a href="#section1" class="arrow__btn right-arrow">›</a>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>