<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="space-y-5">
    <div class="flex justify-center">
        <div class="bg-white text-gray-500 rounded-xl w-10/12 h-80">
            <img src="assets/img/book_icon.png" class="object-scale-down mt-20 h-40 w-full object-right pr-24"
                 alt="book">
            <div class="flex justify-end pr-28">
            <button class="bg-red-600 text-white shadow-md rounded-full w-32 h-8">
                Lees nu!
            </button>
            </div></div>
    </div>
    <div class="flex justify-center">
        <div class="bg-yellow-200 text-gray-500 shadow-md pl-3 pt-3 rounded-xl w-10/12 h-48">
            <h5>Uitgelicht: Auteur</h5>
        </div>
    </div>
    <div class="flex justify-center space-x-5">
        <div class="bg-gray-100 text-gray-500 shadow-md	pl-3 pt-3 rounded-xl w-5/12 h-48">
            <h5>Waar je bent gebleven</h5>
        </div>

        <div class="bg-gray-100 text-gray-500 shadow-md	pl-3 pt-3 rounded-xl w-5/12 h-48">
            <h5>Wat anderen leuk vonden</h5>
        </div>
    </div>
</div>
</body>
</html>