<div class="grid grid-cols-3">
    <!--Select a district or location-->
    <div class="districtsAndLocations shadow-md rounded-md fixed">
        <h4 class="visitorstext text-gray-600 bg-white rounded-md ml-3 mb-2 mt-2">Bezoekers per stadsdeel</h4>
        <div class="locationsOfADistrict row d-none rounded-md w-68 mb-10 mb-2 mt-2 ml-2 gap-8">
            <button class="goBackToDistricts bg-gray-600 text-white shadow-md rounded-md h-8 w-14">Terug</button>
            <h4 class="districtText text-gray-600 bg-white rounded-md">stadsdeelnaam</h4>
        </div>
        <div class="moveDistrictsToHere scrollbar"></div>
    </div>

    <!-- Shows chosen location -->
    <h2 id="locationName" class="pl-96"></h2>
    <div></div>
    <div></div>
    <div></div>

    <!-- Shows filter chart-->
    <div class="chartAndButtonsDiv1 w-3/5 h-3/5 col-span-2"></div>
    <div></div>
    <div class="chartAndButtonsDiv2 w-3/5 h-3/5 col-span-2"></div>
</div>

<!-- Items below are used for cloning, they are not shown on screen unless cloned -->
<button type="button" class="close shadow-md rounded-md h-8 w-8" style="background: red" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>

<div class="districts d-none"></div>

<!-- Here comes all the buttons that are used to pick a date-->
<div class="buttons d-none row gap-x-1 pl-12" align="center"></div>

<!-- District name and button to view the locations -->
<div class="districtName d-none text-gray-600 ml-3 pb-11 pt-2">
    <div class="grid grid-cols-2">
        <button class="district text-left"></button>
        <button class="viewLocations w-10"></button>
    </div>
</div>

<!-- Location card, shows the location picture, name, address and if the data is available -->
<button class="locationCard d-none max-w-md max-w-lg w-full shadow-md rounded-md mb-2">
    <img class="locationImage object-cover h-32 flex-none rounded-t w-full overflow-hidden"
         src=" " alt="OBA location image">
    <div class="ml-2">
        <p class="locationName text-gray-600 font-bold text-xl text-left"></p>
        <p class="locationAddress text-grey-darker text-base text-left"></p>
        <p class="dataAvailable text-grey-darker text-base text-left"></p>
    </div>
</button>

<!-- Date dropdown -->
<div class="dateDropdown dropdown d-none mt-2 mb-2 w-40">
    <button class="btn btn-secondary dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Selecteer periode
    </button>

    <a class="dateDropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
    </a>
    <button class="dateDropdown-item dropdown-item d-none"></button>
</div>

<!-- Year dropdown -->
<div class="yearDropdown1 dropdown d-none mt-2 mb-2 w-32">
    <button class="btn btn-secondary  dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jaar
    </button>
    <a class="yearDropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
    </a>
    <button class="yearDropdown-item dropdown-item d-none"></button>
</div>

<!-- Year dropdown -->
<div class="yearDropdown2 dropdown d-none mt-2 mb-2 w-32">
    <button class="btn btn-secondary  dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jaar
    </button>
    <a class="yearDropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
    </a>
    <button class="yearDropdown-item dropdown-item d-none"></button>
</div>

<!-- Month/Quarter dropdown -->
<div class="monthOrQuarterDropdown1 dropdown d-none mt-2 mb-2 w-28">
    <button class="btn btn-secondary dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <a class="monthOrQuarterDropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
    </a>
    <button class="monthOrQuarterDropdown-item dropdown-item d-none"></button>
</div>
<!-- Month/Quarter dropdown -->
<div class="monthOrQuarterDropdown2 dropdown d-none mt-2 mb-2 w-28">
    <button class="btn btn-secondary dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <a class="monthOrQuarterDropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton">
    </a>
    <button class="monthOrQuarterDropdown-item dropdown-item d-none"></button>
</div>

<!-- week dropdown -->
<div class="weekDropdown1 dropdown d-none mt-2 mb-2 w-28">
    <button class="btn btn-secondary dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Week
    </button>
    <a class="weekDropdown-menu dropdown-menu " aria-labelledby="dropdownMenuButton">
    </a>
    <button class="weekDropdown-item d-none dropdown-item"></button>
</div>
<!-- week dropdown -->
<div class="weekDropdown2 dropdown d-none mt-2 mb-2 w-28">
    <button class="btn btn-secondary dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Week
    </button>
    <a class="weekDropdown-menu dropdown-menu " aria-labelledby="dropdownMenuButton">
    </a>
    <button class="weekDropdown-item d-none dropdown-item"></button>
</div>

<!-- Chart -->
<canvas class="choseDateChart1 d-none"></canvas>
<canvas class="choseDateChart2 d-none"></canvas>


<!-- A Chart gets appended to this place to set the height and width of the chart -->
<div class="chart1 d-none chart-h-w"></div>
<div class="chart2 d-none chart-h-w"></div>

<!--h-48 w-96-->


