<!-- Submenu for statistics -->
<div class="submenuDiv text-right">
    <div class="btn-group-vertical" role="group" aria-label="Button group">
        <button type="button" class="btn btn-primary fa fa-building fa-lg" id="locationsub" data-controller="obaLocation"> Locatie</button>
        <button type="button" class="btn btn-primary fa fa-line-chart fa-lg mt-1" id="yearsub" data-controller="visitoryear"> Jaren</button>
        <button type="button" class="btn btn-primary fa fa-percent fa-lg mt-1" id="differencesub" data-controller="differenceyears"> Verschil jaren</button>
        <button type="button" class="btn btn-primary fa fa-bar-chart fa-lg mt-1" id="weekdaysub" data-controller="weekdayVisitors"> Weekdagen</button>
        <button type="button" class="btn btn-primary fa fa-map-marker fa-lg mt-1" id="districtsub" data-controller="busyDistricts"> Stadsdelen</button>
    </div>
    <div class="error mb-3 text-danger"></div>
</div>
