<!-- Submenu for statistics -->
<div class="tabjes text-right">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary fa fa-building fa-lg"> Locatie</button>
        <button type="button" class="btn btn-primary fa fa-line-chart fa-lg"> Jaren</button>
        <button type="button" class="btn btn-primary fa fa-percent fa-lg"> Verschil jaren</button>
        <button type="button" class="btn btn-primary fa fa-bar-chart fa-lg"> Weekdagen</button>
        <button type="button" class="btn btn-primary fa fa-map-marker fa-lg"> Stadsdelen</button>
    </div>
</div>
<div id="chartWrapper">
<div id="selectboxDiv">
    <select multiple id="selectbox" class="shadow-lg p-3 mb-4 bg-white rounded">
        <option value="" disabled> -- Selecteer locaties -- </option>
        <option class="option d-none" value="">Locatie naam</option>
    </select>
    <button type="button" class="btn btn-danger btn-sm d-none">Wis keuzes</button>
</div>
<div class="container h-4/5" id="chartDiv">
    <div class="error mb-3 text-danger"></div>
    <h1>OBA bezoekers per jaar</h1>
    <div class="container chartContainer" height="500px" id="canvasdiv">
        <canvas class="chartInYears"></canvas>
    </div>
</div>
</div>



