<div>
    <h1>Gemiddelde bezoekers per weekdag</h1>
    <p>(Op jaar basis)</p>

    <form style="padding-left: 30px" class="mt-3 p-7">
        <select name="location" id="locationOptions" class="options selectForm">
            <option disabled selected>Locatie</option>
        </select>

        <select name="year" id="yearOptions" class="options selectForm">
            <option disabled selected>Jaar</option>
        </select>


    </form>
</div>

<center>
    <div id="canvasdiv">
    </div>
</center>
